@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Vazirmatn:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    background-color: #080a0f; /* custom premium near-black */
    color: #f8fafc; /* slate-50 */
    font-family: 'Vazirmatn', 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom Thin Scrollbar for desktop panels */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Hide spin buttons for standard number inputs except those with .keep-spin class */
input[type="number"]:not(.keep-spin)::-webkit-inner-spin-button,
input[type="number"]:not(.keep-spin)::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]:not(.keep-spin) {
  -moz-appearance: textfield;
}


